@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
	background-image: url('/Images/white-seamless-weave-pattern-background-1.jpg');
	font-family: 'Raleway', Arial, sans-serif;
	margin: 0;
	padding-inline: 10px;
	display: grid;
}
/*
footer,
header {
	padding: 10px;
}
footer ol {
	list-style: georgian;
}
footer ul {
	list-style: square;
}
.container {
	padding-inline: 10px;
}
.header-heading {
	font-size: calc(14px + 2vw);
}

.bg-dark {
	background: rgb(69, 94, 134);
	color: #fff;
}

.images {
	display: grid;
	/* margin: 0 auto;
	grid-template-areas:
		'img-1 img-2 img-3 '
		'img-1 img-2 img-4 '
		'img-5 img-5 img-6 ';
	grid-template-rows: 2fr 3fr 1fr;
	grid-template-columns: 1fr 10fr 2fr;
	grid-gap: 2vw;
}
.images > div {
	background: rgba(18, 80, 128, 0.5);
	color: #fff;
	text-align: center;
	font-size: 5vw;
	padding: 0.5em;
}
.images > div:nth-child(1) {
	grid-area: img-1;
}
.images > div:nth-child(2) {
	grid-area: img-2;
}
.images > div:nth-child(3) {
	grid-area: img-3;
}
.images > div:nth-child(4) {
	grid-area: img-4;
}
.images > div:nth-child(5) {
	grid-area: img-5;
}
.images > div:nth-child(6) {
	grid-area: img-6;
}

@media (min-width: 1800px) {
	.header-heading {
		font-size: 50px;
	}
}
 */

.outer-grid {
	display: grid;
	grid-gap: 2vw;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.outer-grid > div {
	font-size: 1.5em;
	padding: 8px;
	background: rgba(0, 0, 0, 0.25);
	text-align: center;
	align-self: flex-start;
	border: 5px solid;
	border-radius: 20px;
}
.inner-grid > div {
	background: #fff;
	border: 2px dashed #000;
	border-radius: 10px;
	padding: 5px;
	columns: 50%;
}
.inner-grid-img {
	display: grid;
	gap: 5px;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
}

.thing {
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

img {
	max-width: 100%;
}
figcaption {
	font-style: oblique;
}
/* ! ТЕСТ */
.app {
	display: grid;
	align-content: start;
}
.app > .full {
	grid-column: 1 / -1;
}
.hs {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 10px;
	grid-template-rows: minmax(150px, 1fr);
	grid-auto-flow: column;
	grid-auto-columns: 200px;
	overflow-x: scroll;
	scroll-snap-type: x proximity;
	padding-bottom: 10px;
}
.hs:before,
.hs:after {
	content: '';
	width: 10px;
}
.app {
	background: rgba(0, 0, 0, 0.25);
}

.hs > li,
.item {
	scroll-snap-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-radius: 8px;
}
