/* * {
	margin: 0;
	padding: 0;
} */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: grid;
  grid-template:
    'header header 	header' 60px
    'nav    article ads' 1fr
    'footer	footer  footer' auto
    / 200px 1fr 180px;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
header,
footer,
article,
nav,
div {
  padding: 20px;
  background: rgb(153, 182, 225);
}
#pageHeader {
  grid-area: header;
  text-align: center;
  padding: 10px;
}

#mainArticle {
  grid-area: article;
}

#pageHeader > h1 {
  align-self: center;
  font-size: 30px;
  margin: 0px;
}

#mainNav {
  grid-area: nav;
}

#siteAds {
  grid-area: ads;
}
#siteAds > img {
  width: fit-content;
}

#pageFooter {
  grid-area: footer;
  text-align: center;
}

/* Мобильные устройства */
@media (max-width: 800px) {
  body {
    grid-template:
      'header header' 60px
      'nav article' 2fr
      'ads article' 1fr
      'footer footer' 60px
      / 200px 1fr;
    /* grid-template-columns: repeat(Auto-fit, minmax(150px, 1fr)); */
  }
}
/* Ультраширокие экраны */
@media (min-width: 1500px) {
  body {
    grid-template-areas:
      'nav	header header'
      'nav  article ads'
      'nav	footer footer';
  }
}
