/* * {
	margin: 0;
	padding: 0;
} */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: grid;
  grid-template:
    'header header 	header' 60px
    'nav    article ads' 1fr
    'footer	footer  footer' auto
    / 300px 1fr 180px;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-image: url('/Images/abstract-bw-seamless-pattern-2.jpg');
  color: rgb(212, 222, 255);
}
a {
  text-decoration: none;
  font-style: oblique;
  color: rgb(230, 243, 255);
}
a:active {
  color: rgb(255, 230, 232);
}
header,
footer,
article,
nav,
div {
  padding: 20px;
  background: rgba(60, 64, 73, 0.99);
}
#pageHeader {
  grid-area: header;
  text-align: center;
  padding: 10px;
}

#mainArticle {
  grid-area: article;
}
#mainArticle img {
  height: 500px;
}
#mainArticle img {
  height: 400px;
}

#pageHeader > h1 {
  align-self: center;
  font-size: 30px;
  margin: 0px;
}

#mainNav {
  grid-area: nav;
}
#mainNav li {
  margin-top: 10px;
}
#mainNav div {
  position: fixed;
  top: 50px;
  left: 10px;
  background: rgba(60, 64, 73, 0);
}

#siteAds {
  grid-area: ads;
}
#siteAds > img {
  width: fit-content;
  margin: 0;
  padding: 0;
}

#pageFooter {
  grid-area: footer;
  text-align: center;
}

/* Мобильные устройства */
@media (max-width: 800px) {
  body {
    grid-template:
      'header header' 60px
      'nav article' 2fr
      'ads article' 1fr
      'footer footer' 60px
      / 200px 1fr;
    /* grid-template-columns: repeat(Auto-fit, minmax(150px, 1fr)); */
  }
}
/* Ультраширокие экраны */
@media (min-width: 1500px) {
  body {
    grid-template-areas:
      'nav	header header'
      'nav  article ads'
      'nav	footer footer';
  }
}
