@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
  font: normal 16px 'Raleway', sans-serif;
  color: black;
  margin: 0px;
}

div {
  width: 100%;
  overflow: hidden;
}

/* ! Верхушка и низушка */
header,
footer {
  background-color: darkslategray;
  padding: 10px;
}
.header_title {
  color: #fff;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}
.container {
  padding: 0px 10px;
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto;
}
footer {
  padding: auto 10px;
  text-align: center;
  color: rgb(236, 236, 236);
}

a {
  color: brown;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  font-weight: bold;
}

a:visited {
  color: rgb(44, 44, 44);
}

.shad {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card {
  border-radius: 20px;
}

.avatar {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  margin-bottom: 20px;
}
.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  word-spacing: 3px;
}
.info_text {
  margin-left: 30px;
}
.info_text h4 {
  margin-bottom: 10px;
}

/* ! Картиночки */
.flex_city > p > .image {
  float: right;
  clear: right;
  margin: 10px 0px 10px 10px;
}
.image {
  width: 300px;
}
/* figcaption {
  font-style: italic;
  text-align: left;
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
} */

/* ! Оглавление */
.contents {
  background-color: rgb(233, 243, 233);
  box-sizing: border-box;
  padding: 0px 10px;
  margin: 10px 10px 20px 10px;
  width: 400px;
  float: left;
}
.contents a {
  color: rgb(110, 47, 47);
}

/* ! Красивые списки */
.list_group {
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(167, 164, 164);
  width: 150px;
}
.list_group_item {
  padding: 5px 0px;
  border: 0;

  border-bottom: rgb(122, 122, 122) 2px;
  border-style: solid;
}
.list_group_item:last-child {
  border: 0;
}

/* ! Табличка */
.table {
  background-color: aliceblue;
  border: solid 2px;
  text-align: center;
  width: 300px;
  margin: auto;
}

.flex_city > p > .table {
  width: 400px;
  float: left;
}

/* ! Разделения */
hr {
  border: none;
  border-top: 5px double;
  width: 90%;
  /* text-align: center; */
}
/* hr:after {
  background-color: #fff;
  padding: 0px 20px;
  position: relative;
  top: -13px;
} 

/* ! Зона связей */
.contact h2 {
  text-align: center;
}
.form_group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}
.form_group input,
.form_group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}
.form_group textarea {
  min-height: 60px;
  min-width: 500px;
  max-width: 100%;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .form_group {
  width: 50%;
  margin-right: 20px;
}
.row > .form_group:last-child {
  margin-right: 0;
}
.btn {
  background: #111;
  padding: 15px 20px;
  margin: 10px auto;
  display: grid;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

/* ! Закреплённые вещи */
/* 
.aside {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 97%;
  background: rgba(84, 250, 106, 0.363);
  text-align: center;
  border-radius: 5px;
} */
/* 
header {
  position: fixed;
  top: 0;
  left: 0px;
} */

/* ! Списки еды */
.food_name {
  font-size: larger;
  font-weight: bold;
}

.food_need {
  color: brown;
}

.food_ingredients {
  font-style: italic;
}

/* ! Для узких экранов*/
@media (max-width: 700px) {
  .avatar {
    margin-bottom: 0px;
  }
  .info {
    text-align: center;
    display: block;
  }
  .container .info_text {
    margin: 10px 0px;
  }
}
