@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* ! Основа структуры */
body {
	display: block;
	font-size: 16px;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	color: #000;
	margin: 0px;
	padding: 0px;
	min-width: fit-content;
	height: 100vh;
	background-image: url(/Images/wave-seamless_pattern-1.jpg);
	background-size: cover;
}
div {
	width: 100%;
	overflow: auto;
}
.card {
	border-radius: 10px;
}
.separation {
	border-bottom: 10px dotted #004444;
	border-bottom-width: 5px;
}
.noselect {
	user-select: none; /* Chrome and Opera */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror*/
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

/* ! Красивое выделение */
::-moz-selection {
	color: #fff;
	background: #009090;
}
::selection {
	color: #fff;
	background: #009090;
}

/* ! Кастомный скролбар */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: #f6fdff;
}
::-webkit-scrollbar-thumb {
	background: #004444;
}
::-webkit-scrollbar-thumb:hover {
	background: #006666;
}
::-webkit-scrollbar-button {
	background-color: #006666;
}

/* ! Цветовая схема */
.bg-light {
	color: #000;
	background-color: #f6fdff;
}
.bg-dark {
	color: #fff;
	background-color: #004444;
}

/* ! Верхушка и низушка */
header {
	display: flex;
	padding-inline: 20px;
	align-items: center;
	justify-content: center;
}
.header-main {
	min-width: fit-content;
}
.header-main-title {
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
}
.header-aside {
	width: 400px;
	min-width: min-content;
}
.settings {
	justify-content: space-around;
}
.settings-header {
	width: 100%;
	text-align: center;
	margin-block: 10px;
}
.settings:last-child {
	margin-bottom: 10px;
}
.settings-btn {
	display: flex;
	width: 140px;
	align-content: center;
	margin: auto;
	display: grid;
	justify-content: center;
	padding: 5px;
	border-width: 2px;
	border-color: #fff;
	font-family: inherit;
	color: #fff;
	background-color: #004444;
	border-radius: 5px;
	cursor: pointer;
	border-width: 0;
	margin-bottom: 5px;
	transition: all 0.06s ease-in;
}
.settings-btn:hover {
	color: #000;
	background: #f6fdff;
	transform: translateY(-3px);
}
.settings-btn:active {
	font-weight: bold;
	transform: translateY(1px);
}
.container {
	border-radius: 20px;
	background: #fff;
	padding: 0px 20px;
	box-sizing: border-box;
	max-width: 1000px;
	margin-inline: auto;
	margin-block: 10px;
}
footer {
	padding: 1px;
	text-align: center;
	color: #f6fdff;
}

/* ! Менюшка */
.menu * {
	margin: 0;
	padding: 0;
	list-style: none;
	transition: all 0.1s ease-in-out;
}
.menu {
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-inline: 10px;
	padding-block: 2px;
	position: sticky;
	top: 3px;
}
.menu > ul {
	display: grid;
	grid-template-columns: repeat(3, auto);
	position: absolute;
	top: 100%;
	width: 100%;
	justify-content: center;
	column-gap: 10px;
	display: none;
}
.menu:hover > ul {
	display: grid;
}
.menu > ul li a {
	display: block;
	color: #fff;
	background-color: #006666;
	border: #004444 solid 2px;
	border-radius: 5px;
	padding: 5px;
	text-transform: none;
}
.menu > ul li a:active {
	color: #004444;
	background-color: #fff;
}
.menu .fa {
	text-transform: uppercase;
}
.menu .fa:hover {
	cursor: default;
}
.menu li a:hover {
	background-color: #f6fdff;
	color: #006666;
	text-decoration: none;
	cursor: pointer;
}
/* Подрункты меню */
.menu li ul {
	display: grid;
	justify-content: center;
	display: none;
}
.menu li:hover > ul {
	display: grid;
}

/* ! Ссылки */
a {
	color: #004444;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* ! Тени относительно вертикали */
.shadr {
	box-shadow: 10px 5px 14px rgba(0, 0, 0, 0.25);
}
.shadl {
	box-shadow: -10px 5px 14px rgba(0, 0, 0, 0.25);
}
.shadc {
	box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.25);
}

/* ! Верхняя информация */
.info {
	display: flex;
	margin-bottom: 20px;
}
.info p {
	color: #006666;
	margin: 0;
	font-style: italic;
	word-spacing: 3px;
}
.info-text {
	margin-left: 30px;
}
.info-text h4 {
	margin-bottom: 10px;
}

/* ! Оглавление */
.contents {
	box-sizing: border-box;
	padding: 0px 20px;
	margin: 10px 10px 20px 10px;
	width: fit-content;
	float: left;
}
.contents a {
	color: #004444;
}
.contents a:active {
	color: #000;
}
.contents li {
	color: #505050;
}
/* ! Картиночки */
.image {
	width: 300px;
}
.avatar {
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
}
.avatar:active {
	transform: rotateY(180deg);
}
.my-city > p > .image {
	float: right;
	clear: both;
	margin: 0px 0px 20px 15px;
}

/* ! Табличка */
.table {
	background-color: #f6fdff;
	border: solid 2px #004444;
	text-align: center;
	margin-inline: auto;
	margin-bottom: 15px;
	border-radius: 10px;
	width: max-content;
}
.table-head > * {
	padding: 5px 10px;
	border-radius: 1px;
}
.table-head :first-child {
	border-top-left-radius: 10px;
}
.table-head :last-child {
	border-top-right-radius: 10px;
}
.table-items > * {
	padding-inline: 10px;
	border-bottom-left-radius: 10px;
}

/* ! Списки еды */
.list {
	list-style-type: square;
}
.food-name {
	font-size: larger;
	font-weight: bold;
}
.food-need {
	width: fit-content;
	color: #004444;
	padding-left: 40px;
}
.food-ingredients {
	width: fit-content;
	font-style: italic;
	color: #000;
}

/* ! Красивые списки */
.list-group {
	border-radius: 10px;
	width: 300px;
	transition: all 0.1s ease-out;
}
.list-group-item {
	padding: 5px 20px;
	border: 2px solid #004444;
	border-bottom: 0px;
	margin-left: -40px;
	list-style-type: none;
	transition: all 0.2s ease-out;
}
.list-group-item p {
	margin-block: 0px;
}
.list-group-item:hover {
	padding-left: 50px;
}
.list-group-item:active {
	padding-left: 70px;
}

.list-group-item:first-child {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.list-group-item:last-child {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom: 2px solid #000;
}
.list-group-item:hover {
	color: #fff;
	background: #004444;
}
.list-group-item:hover > a {
	color: #fff;
	text-decoration: none;
}

/* ! Мои услуги */
.svcards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	justify-items: center;
	/* min-width: fit-content; */
	max-width: 100%;
}
.svcard {
	background: #004444;
	align-self: center;
	/* align-self: flex-start; */
	border: 3px solid #004444;
	width: 300px;
	margin-bottom: 20px;
	transition: all 0.08s ease-in;
}
.svcard:hover {
	box-shadow: none;
	/* border-top-width: 10px; */
	/* border-right-width: 1px; */
	/* border-bottom-width: 10px; */
	/* border-left-width: 1px; */
}
.svcard-img-top {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	width: 100%;
}
.svcard-title {
	margin: 10px 5px;
	font-size: 30px;
}
.svcard-body {
	background: #f6fdff;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	padding-bottom: 20px;
}
.svcard-text {
	margin-inline: 5px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.services-btn {
	font-family: inherit;
	padding: 10px;
	margin-left: 5px;
	margin-bottom: 20px;
	background-color: #004444;
	border-radius: 5px;
	border: 2px solid #004444;
	transition: all 0.1s ease-in;
}
.services-btn:hover {
	margin-left: 30px;
}
.services a {
	color: white;
	text-decoration: none;
	transition: all 0.1s ease-out;
}
.services a:hover {
	color: #000;
	background: #f6fdff;
	border: 2px solid #004444;
	transition: all 0.2s ease-out;
}
.services a:active {
	color: #004444;
	margin-left: 40px;
}

/* ! Зона связей */
.contact h2 {
	text-align: center;
}
.form-group label {
	display: block;
	font-size: 14px;
	color: #505050;
}
.form-group input,
.form-group textarea {
	width: 100%;
	box-sizing: border-box;
	border: none;
	background: transparent;
	border-bottom: 2px solid rgb(233, 233, 233);
	color: #000;
	padding: 15px 0 10px;
	outline: none;
	font-family: inherit;
	transition: all 0.2s ease-in;
}
.form-group textarea {
	min-height: 60px;
	min-width: 200px;
	max-width: 100%;
}
.form-group input:invalid {
	border-bottom: 2px solid red;
}
.form-group input:hover,
.form-group textarea:hover {
	border-bottom: 2px solid #accad3;
}
.form-group input:focus,
.form-group textarea:focus {
	border-bottom: 2px solid #004444;
}
.form-group input:active,
.form-group textarea:active {
	border-bottom: 2px solid #006666;
}
.row {
	display: flex;
	margin-bottom: 20px;
}
.row > .form-group {
	width: 50%;
	margin-right: 20px;
}
.row > .form-group:last-child {
	margin-right: 0px;
}
.contact-btn {
	border-radius: 5px;
	padding: 10px 15px;
	margin: 10px auto;
	display: grid;
	font-family: inherit;
	cursor: pointer;
	transition: all 0.2s ease-out;
}
.contact-btn:hover {
	color: #000;
	background: #f6fdff;
	border: 2px solid #004444;
	padding-bottom: 10px;
	transform: translateY(-3px);
}
.contact-btn:active {
	font-weight: bold;
	transform: translateY(3px);
}

/* ! Для узких экранов*/
@media (max-width: 700px) {
	.svcards {
		grid-gap: 30px;
		grid-auto-flow: column;
		scroll-snap-type: x proximity;
		max-width: calc(40vw + 250px);
		margin-inline: auto;
	}
	.svcard {
		scroll-snap-align: center;
	}
}
@media (max-width: 600px) {
	header {
		display: grid;
	}
	.settings {
		display: grid;
		gap: 10px;
	}
	.settings-btn {
		width: 200px;
		padding-block: 10px;
	}

	/* .menu * {
		margin: 0;
		padding: 0;
		list-style: none;
		transition: all 0.1s ease-in-out;
	}
	.menu {
		font-weight: bold;
		text-align: center;
		margin-top: 10px;
		margin-inline: 10px;
		padding-block: 2px;
		position: sticky;
		top: 3px;
	}
	.menu > ul {
		display: grid;
		grid-template-columns: repeat(3, auto);
		position: absolute;
		top: 100%;
		width: 100%;
		justify-content: center;
		column-gap: 10px;
		display: none;
	}
	.menu:hover > ul {
		display: grid;
	}
	.menu > ul li a {
		display: block;
		color: #fff;
		background-color: #006666;
		border: #004444 solid 2px;
		border-radius: 5px;
		padding: 5px;
		text-transform: none;
	}
	.menu > ul li a:active {
		color: #004444;
		background-color: #fff;
	}
	.menu .fa {
		text-transform: uppercase;
	}
	.menu .fa:hover {
		cursor: default;
	}
	.menu li a:hover {
		background-color: #f6fdff;
		color: #006666;
		text-decoration: none;
		cursor: pointer;
	}
	.menu li ul {
		display: grid;
		justify-content: center;
		display: none;
	}
	.menu li:hover > ul {
		display: grid;
	} */

	.avatar {
		margin-bottom: 0px;
	}
	.info {
		text-align: center;
		display: block;
	}
	.info-text > h1 {
		margin-top: 0px;
	}
	.info-text {
		margin: 10px 0px;
	}
	.container {
		padding: 0px 10px;
	}
}
