@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  font-weight: bold;
}

contents {
  background-color: rgb(202, 223, 202);
  box-sizing: border-box;
  padding: 0px 10px;

  margin: 10px 10px 20px 10px;
  width: 50%;
  border-radius: 20px;
  float: left;
}

contents a {
  color: brown;
}

.ordinary_image {
  width: 90%;
  border-radius: 20px;
  box-shadow: 10px 5px 20px rgb(0, 0, 0, 40%);
}

.ingredients {
  font-style: italic;
}

.lit {
  color: brown;
}

.food_topic {
  font-size: larger;
  font-weight: bold;
}

.header_title {
  color: #fff;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

figcaption {
  font-style: italic;
  text-align: left;
  margin-top: 20px;
  /* padding-left: 20px; */
  margin-left: 20px;
}

table {
  background-color: aliceblue;
  text-align: center;
  margin: 10px;
}

hr {
  border: none;
  border-top: 5px double #333;
  width: 90%;
  /* text-align: center; */
}

/* Если будут словечки в разделениях
/* hr:after {
  background-color: #fff;
  padding: 0px 20px;
  position: relative;
  top: -13px;
} */

header,
footer {
  background-color: darkslategray;
  padding: 10px;
}

div {
  width: 100%;
  overflow: hidden;
}

main {
  padding: 0px 10px;
  box-sizing: border-box;
  width: 60%;
  float: left;
}
aside {
  width: 40%;
  float: right;
}
main a {
  color: rgb(107, 16, 35);
}

footer {
  padding: auto 10px;
  text-align: left;
  color: rgb(236, 236, 236);
}

footer a {
  color: rgb(255, 208, 208);
}
